.stats-stats {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.stats-stat {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.stats-icon {
  fill: var(--dl-color-gray-700);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.stats-text {
  color: var(--dl-color-custom-neutral-light);
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.stats-text1 {
  color: var(--dl-color-gray-700);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.stats-text2 {
  color: var(--dl-color-custom-neutral-light);
  font-size: 3rem;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 300;
}
.stats-stat1 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.stats-icon3 {
  fill: var(--dl-color-gray-700);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.stats-text3 {
  color: var(--dl-color-custom-neutral-light);
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.stats-text4 {
  color: var(--dl-color-gray-700);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.stats-text5 {
  color: var(--dl-color-custom-neutral-light);
  font-size: 3rem;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 300;
}
.stats-stat2 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.stats-icon5 {
  fill: var(--dl-color-gray-700);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.stats-text6 {
  color: var(--dl-color-custom-neutral-light);
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.stats-text7 {
  color: var(--dl-color-gray-700);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.stats-text8 {
  color: var(--dl-color-custom-neutral-light);
  font-size: 3rem;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 300;
}
@media(max-width: 767px) {
  .stats-stats {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .stats-stat {
    padding: var(--dl-space-space-unit);
  }
  .stats-text {
    text-align: center;
  }
  .stats-stat1 {
    padding: var(--dl-space-space-unit);
  }
  .stats-text3 {
    text-align: center;
  }
  .stats-stat2 {
    padding: var(--dl-space-space-unit);
  }
  .stats-text6 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .stats-stats {
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .stats-text2 {
    font-size: 2rem;
  }
  .stats-text5 {
    font-size: 2rem;
  }
  .stats-text8 {
    font-size: 2rem;
  }
}
